@import '~bootstrap/scss/bootstrap';

#box { 
    background-image: url(https://images.squarespace-cdn.com/content/5ed1b3e73b87d766d1c49146/1620516028726-MAATBDYTPL1W962LOY3T/dbd-topheader-3.gif?format=1500w&content-type=image%2Fgif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#login-Ui{
    margin-top: 250px;
    margin-left: 700px;
    margin-right: 700px;
    background-color: rgb(19, 19, 19);
    display: flex;
    box-shadow: 10px 10px 25px 10px #000000;
    border-radius: 25px;
    justify-content: center;
    border: 3px #828282;
}

h1, h2, h3,h4,p {
    color:orange
}

.signUp-text {
    margin-left: 15px;
}
.sign-text {
    margin-left: 15px;
    
}

#sign-in {
    padding-left: 25px;
    padding-bottom: 40px;
}

#perks-index {
    margin:15px;
}


.ordered-sign, h1{
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#signUp-btn,#signIn-btn,#changePass-btn,#create-btn,#del-btn,#get-btn,#perks-index{
    margin-left: 10px;
    border-radius: 7px;
}
#create-btn{
    margin-top: 10px;
    margin-right: 10px;
}
#password-box{
    display: flex;
    justify-content: right;

}

input[type=text] {
  border: 1px solid #555;
  outline: none;
}

input[type=text]:focus {
  background-color: lightgray;
}
.textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }


#signOut-btn {
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
    background-color: red; 
    color: white;
    border-radius: 7px;
}
#center-perkUi {
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
// .perk-style {
//     border-radius: 500px;
//     -webkit-box-shadow: 5px 7px 12px 10px rgba(0,0,0,0.33); 
//     box-shadow: 5px 7px 12px 10px rgba(0,0,0,0.33);
    
// }

#handler-display{
    display: flex;
    justify-content: center;
    padding-bottom: 115px;
    
}

#perk-UiHandler,#error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 270px;
    border-radius: 5px;
    border: 7px ridge #555;
    background-color:black;
}

#perk-display {
    padding-top: 75px;
    padding-bottom: 400px;
    padding-left: 75px;
    padding-right: 75px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(19, 19, 19);
    display: flex;
    box-shadow: 10px 10px 25px 10px #000000;
    border-radius: 25px;
    justify-content: space-between;
    justify-content: space-evenly;
    border: 3px #828282;
    color:azure;

}
// #ordered-sign-up {
//     display: flex;
//     justify-content: center;
// }